<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The  below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
</style>

<style>
  :host {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #333;
    background-color: black; 
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
    align-items:last baseline; 
  }
/* 33 58 20  */
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%; 
    display: flex;
    align-items: center;
    /* background-color: #8e4b4b; */
    color: rgb(0, 0, 0);
    font-weight: 600;
    /* border-radius: 50px; */
    background: linear-gradient(145deg, #ffffff, #ffffff);
    box-shadow:  40px 40px 80px #000000, -40px -40px 80px #ffffff;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    background-color:rgb(26, 26, 43); 
    color:rgb(255, 255, 255); 
    /* max-width: 90vw;  */
    height: 95vh; 
    
    background-image: url("assets/images/rain.gif"); 
    background-size: cover; 
    background-blend-mode:color-burn
  }
  .text {
    margin-top: 60px; 
    display: flex; 
    justify-content: center; 
    color: white; 
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #9d7272;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    /* background-color: white; */
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .home {
    width: 100%;
    height: 100%; 
    align-items: center;
    background: #000000;
  }
  .gar-left {
    position: fixed; 
    top: 410px; 
    right: calc(100vw - 35vw); 
  }

  .gar-right {
    position: fixed; 
    top: 410px; 
    left: calc(100vw - 35vw); 
  }
  .peepee {
    position: fixed; 
    top: 520px; 
    left: calc(100vw - 20vw); 
    width: 300px; 
  }
  .jesse {
    position: fixed; 
    top: 550px; 
    right: calc(100vw - 20vw); 
    width: 260px; 
  }
  .poo {
    position: fixed;
    left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  top: 113px; 
  width: 50px; 
  }
  .thane-bust {
    position: fixed;
    left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  top: 507px; 
  width: 350px; 
  }
  .grass {
    background: rgba(33, 58, 20); 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 100%; 
    display: flex;
    align-items: center;
  }



  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

</style>

<!-- Toolbar -->
<div class="home">
  <div class="toolbar" role="banner">
    <img
      width="50"
      alt="Logo"
      src="assets/images/logo2.svg"
    />
    <span margin-left="30px">Thane Sunter </span>

    <div class="spacer"></div>
    <a aria-label="cat" target="_blank" rel="noopener" title="cat" >
      <img 
      src="assets/images/cat.svg"
      width="50"
      alt="cat"
      (click)="togglePeepee()"
      >
    </a>
    <a aria-label="dog" target="_blank" rel="noopener" title="dog">
      <img 
      src="assets/images/dog.svg"
      width="50"
      alt="dog"
      (click)="toggleJesse()"
      >
    </a>
    <a aria-label="poo" target="_blank" rel="noopener" title="poo">
      <img 
      src="assets/images/poo.svg"
      width="50"
      alt="poo"
      (click)="togglePoop()"
      >
    </a>
</div>

  <div class="content" role="love">
      <img 
      class="gar-left"
      src="assets/images/gargoyleleft.png" 
      alt="LeftGarg"
      >
      <img 
      class="gar-right"
      src="assets/images/gargoyleright.png" 
      alt="RightGarg"
      >
      <img 
      class="thane-bust"
      src="assets/images/thanebust.png" 
      alt="thanebust"
      >
      <div class="grass"></div>
      <div class="jesse" *ngIf="toDisplayje">
        <img 
          class="jesse"
          src="assets/images/jesse.png" 
          alt="jesse"
      >
      </div>
      <div class="peepee" *ngIf="toDisplaypp">
        <img 
          class="peepee"
          src="assets/images/peepee.png" 
          alt="peepee"
      >
      </div>
      <div class="poo" *ngIf="toDisplaypo">
        <img 
          class="poo"
          src="assets/images/poop.png" 
          alt="poo"
      >
      </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The  above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
